# Database Connection
TYPEORM_CONNECTION=
TYPEORM_HOST=
TYPEORM_USERNAME=
TYPEORM_PASSWORD=
TYPEORM_DATABASE=
TYPEORM_SID=
TYPEORM_PORT=
TYPEORM_SYNCHRONIZE=
TYPEORM_LOGGING=
TYPEORM_ENTITIES=
TYPEORM_MIGRATION_CONFIG=scripts/write-type-orm-config.ts
# Environment
NODE_ENV= # development or production
BASEPATH= # api for azure infra or path for aws infra
ITEM_EXPIRATION_INTERVAL= # 2h or 25m
ITEM_EXPIRATION_CRON_TIME_LAPSE= # 3600000 (default 3600000 miliseconds, equivalent to 1 hour) 
ITEM_EXPIRATION_BATCH_SIZE= # 100 (number of items per batch)

# Third-party URL's
API_PRODUCT=
